.pageContainer {
  position: relative;
  min-height: 100vh;
  background-color: var(--pf-global--BackgroundColor--200);
}

.contentWrap {
  display: block;
  min-height: fit-content;
  padding-bottom: 16rem;
}

.pageSection {
  padding: 0 !important;
}
