.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: fit-content;
  margin-top: 10rem;
}

.text {
  color: var(--pf-global--Color--light-200);
}

.background {
  padding: 1rem;
  background-color: var(--pf-global--BackgroundColor--dark-100);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links {
  display: flex;
  gap: 2rem;
}

@media (max-width: 600px) {
  .background {
    display: block;
  }

  .devfileLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
  }

  .links {
    justify-content: space-around;
  }
}
