.container {
  display: flex;
  justify-content: center;
  margin: 0 1rem;
}

.nav {
  display: inline-flex;
  background-color: var(--pf-global--BackgroundColor--dark-300);
}

.title {
  text-align: left;
}
